
<div class="bloque container">
    <div class="canciones-container">
        <div class="canciones-item dos">
                <div>
                        <video src="img/rap.mp4"
                            width="550" height="500"
                            preload
                            autoplay
                            loop style="margin:-60px">
                           </video>
                    </div>
                <div class="info">
                <h2 class="nombre">Three Shot</h2>
                <p class="texto">Este vídeo ha requerido el trabajo de mucha gente detrás y delante de las cámaras y por esa misma razón hay que agradecerles ese trabajo. 
                    ¡Muchas gracias equipo! ¡Y muchas gracias a Charlie Miralles por habernos brindado la magnífica oportunidad de hacer esto posible!
                </p>
            </div>
           
            <div class="info">
                <h2 class="nombre">RIESGO x 24 FRAMES</h2>
                <p class="texto">Vídeo: Alberto Mollá (BlackBox Media)
                    Letra: Riesgo
                    Música: TaylorM
                    Grabado, mezclado y masterizado: Riesgo (BlackBox Music) </p>
                   <center><img class="img-canciones" src="./img/14.jpg" alt=""></center> 
            </div>
           
            <div class="info">
                <h2 class="nombre"> No pueden joderme</h2>
                <p class="texto">Son muchos quienes lo han intentado, pero bueno, sigo y seguiré luchando. </p>
                <br/>
                <h2 class="nombre">Por qué</h2>
               <center> <img class="img-canciones" src="./img/12.jpg" alt=""></center>
            </div>
           
            <div class="info">
                <h2 class="nombre">Mi lado oscuro</h2>
                <p class="texto">"Mi Lado Oscuro" es la cuarta referencia del artista valenciano Riesgo y constará de 7 cortes todos ellos grabados, mezclados y masterizados íntegramente en BlackBox Music. Todo el diseño gráfico corre a cargo de Alberto Mollà Gómez de BlackBox Media.</p>
               <center> <img class="img-canciones" src="./img/17.jpg" alt=""></center>
            </div>
           
         </div>
       

        <div class="canciones-item uno">
            <div class="info">
                <h2 class="nombre">Lejos de sufrir</h2>
                <p class="texto">De las manos de la productora audiovisual BlackBox Media os dejamos el adelanto del próximo videoclip del artista valenciano Riesgo perteneciente al tema "Lejos De Sufrir" en el que colabora con Starlich (Fuera De ConteXto).
                    Para ver el videoclip entero meteos y suscribios aquí:
                   
                    
                    Espero que disfrutéis muchísimo de este trabajo que lo compartáis os suscribáis para estar atentos de nuevos proyectos próximos y si os gusta darle “like” y “fav” y esto nos será de gran ayuda y es gratuito.</p>
                   <center> <img class="img-canciones" src="./img/13.jpg" alt=""></center>
                 </div>
            
            <div class="info">
                <br/><br/>
                <h2 class="nombre">Miedolías</h2>
                <p class="texto"> Tema del artista valenciano Efes Whity. Gran amigo y mejor persona, este tema fue grabado en mi estudio el mes de febrero de2018.
                </p>
                <center><img class="img-canciones" src="./img/16.jpg" alt=""></center>
            </div>
           
            <div class="info">
                <h2 class="nombre">Comienzo de cero
                </h2>
                <p class="texto">"Mi Lado Oscuro" es la cuarta referencia del artista valenciano Riesgo y constará de 7 cortes todos ellos grabados, mezclados y masterizados íntegramente en BlackBox Music. Todo el diseño gráfico corre a cargo de Alberto Mollà Gómez de BlackBox Media.</p>
                <center><img class="img-canciones" src="./img/18.jpg" alt=""></center>
             
                   
             </div>
          
        </div>

      
    
    </div>
 