<section class="rap-list ideal">
    <div class="ui-status ideal">
        <article class="itemrap">
            <a href="detail.html">
                <img class="rapimg" src="img/1.jpg" alt="">
            </a>
            <div class="articletit">Three Shot</div>
            <a href="detail.html"><div class="masinfo">info</div></a>
        </article>
        
        <article class="itemrap">
            <a href="detail.html"><img class="rapimg" src="img/2.jpg" alt=""></a>
            <div class="articletit">No podran joderme</div>
            <a href="detail.html"> <div class="masinfo">info</div></a>
        </article>
        
        <article class="itemrap">
            <a href="detail.html"><img class="rapimg" src="img/3.jpg" alt=""></a>
            <div class="articletit">Estoy cansado</div>
            <a href="detail.html"> <div class="masinfo">info</div></a>
        </article>
        
        <article class="itemrap">
            <a href="detail.html"><img class="rapimg" src="img/4.jpg" alt=""></a>
            <div class="articletit">Cuando todo va mal</div>
            <a href="detail.html"> <div class="masinfo">info</div></a>
        </article>
        
        <article class="itemrap">
            <a href="detail.html"> <img class="rapimg" src="img/5.jpg" alt=""></a>
            <div class="articletit">Lejos de sufrir</div>
            <a href="detail.html"> <div class="masinfo">info</div></a>
        </article>
        
        <article class="itemrap">
            <a href="detail.html"> <img class="rapimg" src="img/6.jpg" alt=""></a>
            <div class="articletit">Se sale</div>
            <a href="detail.html"> <div class="masinfo">info</div></a>
        </article>
        
        <article class="itemrap">
            <a href="detail.html"> <img class="rapimg" src="img/7.jpg" alt=""></a>
            <div class="articletit">Siesgo</div>
            <a href="detail.html"> <div class="masinfo">info</div></a>
        </article>
        
        <article class="itemrap">
            <a href="detail.html"> <img class="rapimg" src="img/8.jpg" alt=""></a>
            <div class="articletit">Comienzo</div>
            <a href="detail.html"> <div class="masinfo">info</div></a>
        </article>
        
        <article class="itemrap">
            <a href="detail.html"> <img class="rapimg" src="img/9.jpg" alt=""></a>
            <div class="articletit">24x frames</div>
            <a href="detail.html">  <div class="masinfo">info</div></a>
        </article>
        
        <article class="itemrap">
            <a href="detail.html"></a><img class="rapimg" src="img/10.jpg" alt=""></a>
            <div class="articletit">Efeswhitty</div>
            <a href="detail.html"> <div class="masinfo">info</div></a>
        </article>
        
    </div>
    
</section>